<form *ngIf="addBeneficiaryForm"   [formGroup]="addBeneficiaryForm">
    <p>
      <mat-label style="font-weight: bold;">Beneficiary Details:</mat-label>
    </p>
      <p>
      <mat-form-field appearance="outline">
        <mat-label>Name:</mat-label>
        <input matInput type="text" formControlName="Name" maxlength="50" class="form-control"/>
        <mat-error>
          <span *ngIf="!addBeneficiaryForm.get('Name').valid && addBeneficiaryForm.get('Name').touched">Name is required</span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Account Number:</mat-label>
        <input matInput type="number" formControlName="AccountNumber" maxlength="20" class="form-control" (blur)="validateBenef()"/>
        <mat-error>
          <span *ngIf="!addBeneficiaryForm.get('AccountNumber').valid && addBeneficiaryForm.get('AccountNumber').touched">Account Number is required</span>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Reference:</mat-label>
        <input matInput type="text" formControlName="Reference" aria-modal="15" class="form-control"/>
        <mat-error>
          <span *ngIf="!addBeneficiaryForm.get('Reference').valid && addBeneficiaryForm.get('Reference').touched">Reference is required</span>
        </mat-error>
      </mat-form-field>
      </p>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="saveBeneficiary()" cdkFocusInitial [disabled]="addBeneficiaryForm.invalid" (refreshBeneficiariesEvent)="loadBeneficiaries()">Submit</button>
  </div>
</form>
