<form *ngIf="loginForm"   [formGroup]="loginForm" class="login-container">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username:</mat-label>
      <input matInput formControlName="username" maxlength="50" placeholder="Enter Username">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" formControlName="password" maxlength="50" placeholder="Password" >
    </mat-form-field>
  </p>
  <p> 
    <button mat-raised-button color="primary" (click)="onSubmit()">login</button>
    <button mat-button color="primary" (click)="onRegister()">register</button>
  </p>
</form>